<div class="d-flex flex-column flex-root app-root" id="kt_app_root">
	<div class="app-page flex-column flex-column-fluid" id="kt_app_page">
		<%- include(theme.getLayoutPath("partials/sidebar-layout/_header.ejs")); %>
        <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
            <%- include(theme.getLayoutPath("partials/sidebar-layout/_sidebar.ejs")); %>
            <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
                <!--begin::Content wrapper-->
                <div class="d-flex flex-column flex-column-fluid">                    
                    <div id="kt_app_content" class="app-content flex-column-fluid">
                        <div id="kt_app_content_container" class="app-container container-fluid mg_t_30">
                            <div class="card card-flush h-md-50">
                                <div class="card-header pt-5">
                                    <div class="card-title d-flex flex-column">
                                        <div class="d-flex align-items-center">
                                            <div class="fs-1hx fw-bold text-dark me-2 introduce_title">
                                                호텔관리<br>
                                                LIST
                                            </div>
                                        </div>

                                        <div class="text-darkgray-400 pt-1 fw-semibold fs-6 mg_b_30">
                                            업체 리스트
                                        </div>
                                    </div>
                                </div>

                                <div class="card-body pt-2 pb-4 d-flex flex-wrap align-items-center">
                                    <table class="rounded-table">
                                        <thead>
                                          <tr>
                                            <th>NO.</th>
                                            <th>Column 2</th>
                                            <th>Column 3</th>
                                          </tr>
                                        </thead>

                                        <tbody>
                                          <tr>
                                            <td>Item 1</td>
                                            <td>Item 2</td>
                                            <td>Item 3</td>
                                          </tr>
                                          <tr>
                                            <td>Item 4</td>
                                            <td>Item 5</td>
                                            <td>Item 6</td>
                                          </tr>
                                          <tr>
                                            <td>Item 7</td>
                                            <td>Item 8</td>
                                            <td>Item 9</td>
                                          </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <%#- include(theme.getLayoutPath("partials/sidebar-layout/_content.ejs")); %>
                </div>
                <!--end::Content wrapper-->
                <%- include(theme.getLayoutPath("partials/sidebar-layout/_footer.ejs")); %>
            </div>
        </div>
	</div>
</div>

<%- include(theme.getPartialPath("partials/_drawers.ejs")); %>

<script type="text/javascript" src="/node_modules/jquery/dist/jquery.js"></script>